# Mobile app for Lottery addction
In this project, we are going to contribute to the development of a mobile app by writing a couple of functions that are mostly focused on calculating probabilities. The app is aimed to both prevent and treat lottery addiction by helping people better estimate their chances of winning.

The app idea comes from a medical institute which is specialized in treating gambling addictions. The institute already has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities. For the first version of the app, they want us to focus on the 6/49 lottery and build functions that can answer users the following questions:

- What is the probability of winning the big prize with a single ticket?
- What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
- What is the probability of having at least five (or four, or three) winning numbers on a single ticket?

The scenario we're following throughout this project is fictional — the main purpose is to practice applying probability and combinatorics (permutations and combinations) concepts in a setting that simulates a real-world scenario.

### Functions
For this project we will use two main functions;

In [1]:
def factorial (n):
    count = 1
    for i in range(1, n+1):
        count *= i
        
    return count

def comb(n, k):
    numerator = factorial(n)
    denominator = factorial(k) * factorial(n-k)
    return numerator/denominator

### One ticket probability
We'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
- The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

In [2]:
def one_ticket(number):
    n_comb = comb(49, 6)
    prob = 1 / n_comb
    per = prob * 100
    
    print(
    "Your chances to win the big prize are {:.7f} %. That is 1 in {}.".format(per, int(n_comb)))

We can now test it;

In [3]:
test = [6, 5, 7, 8, 1, 5]
one_ticket(test)

Your chances to win the big prize are 0.0000072 %. That is 1 in 13983816.

# Historical Data Check for Canada Lottery

The institute also wants us to consider the data coming from the national 6/49 lottery game in Canada. The data set contains historical data for 3,665 drawings, dating from 1982 to 2018.

In [4]:
import pandas as pd

lott = pd.read_csv('649.csv')
lott.shape

(3665, 11)

Let's check our dataset:

In [5]:
lott.head()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45

In [6]:
lott.tail()

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

### Function for Historical Data Check

The engineering team tells us that we need to write a function that can help users determine whether they would have ever won by now using a certain combination of six numbers. These are the details we'll need to be aware of:

- Inside the app, the user inputs six different numbers from 1 to 49.
- Under the hood, the six numbers will come as a Python list and serve as an input to our function.
- The engineering team wants us to write a function that prints:
    - the number of times the combination selected occurred; and
    - the probability of winning the big prize in the next drawing with that combination.
    
We're going to begin by extracting all the winning numbers from the lottery data set. The *get_numbers()* function will go over each row of the dataframe and extract the six winning numbers as a Python set.

In [7]:
def get_numbers(r):
    r = r[4:10]
    r = set(r.values)
    return r

In [8]:
lucky_numbers = lott.apply(get_numbers, axis=1)
lucky_numbers.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

Below, we write the *check_history()* function that takes in the user numbers and the historical numbers and prints information with respect to the number of occurrences and the probability of winning in the next drawing.

In [9]:
def check_history(user, history):
    
    user_set = set(user)
    checking = history == user_set
    n_matches = checking.sum()
    
    if n_matches == 0:
        print("Your numbers {} have never occured. Yet, your chances to win are 0.0000072%, that is 1 in 13983816".format(user))
        
    else:
        print("Your numbers {} have won {} times in the past. Your chances to win with your numbers are 0.0000072%, that is 1 in 13983816".format(user, n_matches))

We can now test our function:

In [10]:
test_input_3 = [33, 36, 37, 39, 8, 41]
check_history(test_input_3, lucky_numbers)

Your numbers [33, 36, 37, 39, 8, 41] have won 1 times in the past. Your chances to win with your numbers are 0.0000072%, that is 1 in 13983816

### Multi-ticket Probability

For the first version of the app, users should also be able to find the probability of winning if they play multiple different tickets. For instance, someone might intend to play 15 different tickets and they want to know the probability of winning the big prize.

The engineering team wants us to be aware of the following details when we're writing the function:

- The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
- Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
- The function should print information about the probability of winning the big prize depending on the number of different tickets played.

The multi_ticket() function below takes in the number of tickets and prints probability information depending on the input.

In [11]:
def multi_ticket(n_tickets):
    
    n_comb = comb(49, 6)
    prob = n_tickets / n_comb
    per = prob * 100
    
    if n_tickets == 1:
        print("Your chances to win the big prize are {:.7f} %. That is 1 in {}.".format(per, int(n_comb)))
        
    else:
        round_comb = round(n_comb / n_tickets)
        print("With {} tickets your chances to win are {:.6f}%, that is 1 in {:,} chances to win".format(n_tickets, per, round_comb))

Let's now test our function:

In [12]:
test_inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

for test_input in test_inputs:
    multi_ticket(test_input)
    print('------------------------')

Your chances to win the big prize are 0.0000072 %. That is 1 in 13983816.
------------------------
With 10 tickets your chances to win are 0.000072%, that is 1 in 1,398,382 chances to win
------------------------
With 100 tickets your chances to win are 0.000715%, that is 1 in 139,838 chances to win
------------------------
With 10000 tickets your chances to win are 0.071511%, that is 1 in 1,398 chances to win
------------------------
With 1000000 tickets your chances to win are 7.151124%, that is 1 in 14 chances to win
------------------------
With 6991908 tickets your chances to win are 50.000000%, that is 1 in 2 chances to win
------------------------
With 13983816 tickets your chances to win are 100.000000%, that is 1 in 1 chances to win
------------------------

Less Winning Numbers — Function
In most 6/49 lotteries, there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. This means that players might be interested in finding out the probability of having two, three, four, or five winning numbers — for the first version of the app, users should be able to find those probabilities.

These are the details we need to be aware of when we write a function to make the calculations of those probabilities possible:

Inside the app, the user inputs:
six different numbers from 1 to 49; and
an integer between 2 and 5 that represents the number of winning numbers expected
Our function prints information about the probability of having a certain number of winning numbers
To calculate the probabilities, we tell the engineering team that the specific combination on the ticket is irrelevant and we only need the integer between 2 and 5 representing the number of winning numbers expected. Consequently, we will write a function named probability_less_6() which takes in an integer and prints information about the chances of winning depending on the value of that integer.

The function below calculates the probability that a player's ticket matches exactly the given number of winning numbers. If the player wants to find out the probability of having five winning numbers, the function will return the probability of having five winning numbers exactly (no more and no less). The function will not return the probability of having at least five winning numbers.

In [13]:
def less_6(n_lucky_numbers):
    
    n_comb_ticket = comb(6, n_lucky_numbers)
    n_comb_remaining = comb(43, 6 - n_lucky_numbers)
    success = n_comb_ticket * n_comb_remaining
    
    n_comb_total = comb(49, 6)
    prob = success / n_comb_total
    
    prob_per = prob * 100
    round_comb = round(n_comb_total/success)
    print("Your chances to get {} winning number with your ticket are  {:.6f}%. That is 1 in {:,} chances to win.".format(n_lucky_numbers, prob_per, round_comb))

We can now test our function:

In [14]:
for test_input in [2, 3, 4, 5]:
    less_6(test_input)
    print('--------------------------')

Your chances to get 2 winning number with your ticket are  13.237803%. That is 1 in 8 chances to win.
--------------------------
Your chances to get 3 winning number with your ticket are  1.765040%. That is 1 in 57 chances to win.
--------------------------
Your chances to get 4 winning number with your ticket are  0.096862%. That is 1 in 1,032 chances to win.
--------------------------
Your chances to get 5 winning number with your ticket are  0.001845%. That is 1 in 54,201 chances to win.
--------------------------